In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
from pandas import read_csv
import seaborn as sns
import tqdm
import glob

In [2]:
df1=pd.read_csv('BDF.csv', header=0, index_col=0, low_memory = False)

In [3]:
df1.Oficina.unique()

array(['CD._CONSTITUCION', 'GUERRERO_NEGRO', 'SANTA_ROSALIA', 'LA_PAZ',
       'SAN_CARLOS', 'BAHIA_TORTUGAS', 'LORETO',
       'PUERTO_ADOLFO_LOPEZ_MATEOS', 'PUNTA_ABREOJOS', 'BAHIA_ASUNCION',
       'CABO_SAN_LUCAS'], dtype=object)

In [4]:
df=['Zona']
ZN= pd.DataFrame(np.zeros(len(df1)),columns=df)


for i in tqdm.tqdm(range(0,len(df1))):
    if df1.Oficina[i]=='LORETO' or df1.Oficina[i]== 'LA_PAZ' or df1.Oficina[i]== 'SANTA_ROSALIA' or df1.Oficina[i]=='CABOS_SAN_LUCAS':
        nd1='zn1'
        ZN.loc[i]=[nd1]
                   
    elif  df1.Oficina[i]=='PUERTO_ADOLFO_LOPEZ_MATEOS' or df1.Oficina[i]=='CD._CONSTITUCION'or df1.Oficina[i]=='SAN_CARLOS':
        nd1='zn2'
        ZN.loc[i]=[nd1]
                   
    elif df1.Oficina[i]=='BAHIA_TORTUGAS' or df1.Oficina[i]=='BAHIA_ASUNCION'or df1.Oficina[i]=='PUNTA_ABREOJOS':
        nd1='zn3'
        ZN.loc[i]=[nd1]
                   
    elif df1.Oficina[i]=='GUERRERO_NEGRO':
        nd1='zn4'
        ZN.loc[i]=[nd1]
                   
    else:
        nd1='NaN'
        ZN.loc[i]=[nd1]
                  
ZN.to_csv('ZN.csv')

100%|██████████| 804091/804091 [01:21<00:00, 9869.36it/s]

In [17]:
ZN

       Zona
0       zn2
1       zn2
2       zn2
3       zn2
4       zn2
...     ...
804086  zn1
804087  zn1
804088  zn2
804089  zn1
804090  zn1

[804091 rows x 1 columns]

In [9]:
df1['Zona'] = ZN

In [12]:
df1.to_csv('BDF-zona.csv')

In [14]:
df1.columns

Index(['Entidad_federativa', 'Tipo_de_pesca', 'Year', 'Mes', 'Dia', 'Oficina',
       'Latitud', 'Longitud', 'Folio', 'Duracion', 'Dias_Efectivos',
       'Sitio_Desembarque_Clave', 'Sitio_Desembarque', 'Zona_Captura',
       'Zona_Captura_Clave', 'Especie_Clave', 'Especie_nombre_general',
       'Especie_nombre', 'Especie_nombre_cientifico', 'Presentacion', 'Class',
       'Order', 'Family', 'Genus', 'Ganancia_total_Mxn', 'Peso_Kg',
       'Precio_Mxn', 'Zona'],
      dtype='object')

## Listas de especies por pesquerías

In [15]:
dt = read_csv('BDGENERAL.csv', header=0, index_col=0, low_memory=False)
dt.columns

Index(['Ano', 'Mes', 'Dia', 'Oficina', 'Sitio_Desembarque', 'Zo_Captura',
       'Sp_gen', 'Sp_nom', 'Pesqueria', 'Sp', 'Peso', 'Precio', 'Valor'],
      dtype='object')

In [ ]:
set(dt.Sp_nom).intersection(df1.Especie_nombre)

In [39]:
pesquerias = dt.Pesqueria.unique()

In [53]:
pesquerias=pesquerias[:-1]

In [75]:
lista = {}
for i in range(0,len(pesquerias)):
    lista.update({pesquerias[i]: list(dt.Sp_nom[dt.Pesqueria==pesquerias[i]].unique())})

In [100]:
name=['Pesqueria']
Pesqueria=pd.DataFrame(np.zeros(len(df1)),columns=name)

for j in tqdm.tqdm(range(0,len(df1))):
    for i in range(0,len(lista)):
        if df1.Especie_nombre[j] in lista[pesquerias[i]]:
            Pesqueria.loc[j]=pesquerias[i]

100%|██████████| 804091/804091 [02:10<00:00, 6144.00it/s]

In [131]:
df1['Pesqueria']=Pesqueria

In [138]:
df1.to_csv('BDlista2018.csv')